body, html {
  margin: 0;
  padding: 0;
}

.bg1 {
  background-color: #1b2b34;
}

.bg2 {
  background-color: #4f5b66;
}

.color1 {
  color: #99C794
}

.color2 {
  color: #EC5f67
}

.color3 {
  color: #FAC863
}

.color4 {
  color: #99C794;
}

.color5 {
  color: #6699CC;
}

@font-face{
  font-family: OverpassMono;
  src: url(../static/OverpassMono-Regular.ttf);
  font-weight: 400;
  font-style: normal
}

@font-face{
  font-family: OverpassMono;
  src: url(../static/OverpassMono-SemiBold.ttf);
  font-weight: 600;
  font-style: normal
}

ul.terminalElement {
  font-size: 25px;
  font-family: 'OverpassMono', monospace;
  color: #FFF;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.terminalElement i {
  font-style: normal
}

.choice {
  cursor: pointer;
}

#terminal {
  overflow: hidden;
}

@media (max-width: 768px) {
  ul.terminalElement {
    font-size: 15px;
    margin: 10px;
  }
  #terminal > ul > li:nth-child(3) {
    font-size: 11px;
  }
  #terminal > ul > li:nth-child(1) {
    font-size: 8px;
  }
}

.logo{
  color: #FFF;
}

.logoDiv{
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.info{
  height: 15vh;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.final{
  width: 100vw;
  height: 100vh;
}

.view-lines{
  font-size: 16px;
}

.mtk1 { color: #d4d4d4; }
.mtk2 { color: #1e1e1e; }
.mtk3 { color: #cc6666; }
.mtk4 { color: #9cdcfe; }
.mtk5 { color: #ce9178; }
.mtk6 { color: #b5cea8; }
.mtk7 { color: #608b4e; }
.mtk8 { color: #569cd6; }
.mtk9 { color: #dcdcdc; }
.mtk10 { color: #808080; }
.mtk11 { color: #f44747; }
.mtk12 { color: #c586c0; }
.mtk13 { color: #a79873; }
.mtk14 { color: #dd6a6f; }
.mtk15 { color: #5bb498; }
.mtk16 { color: #909090; }
.mtk17 { color: #778899; }
.mtk18 { color: #ff00ff; }
.mtk19 { color: #b46695; }
.mtk20 { color: #ff0000; }
.mtk21 { color: #4f76ac; }
.mtk22 { color: #3dc9b0; }
.mtk23 { color: #74b0df; }
.mtk24 { color: #4864aa; }
.mtki { font-style: italic; }
.mtkb { font-weight: bold; }
.mtku { text-decoration: underline; text-underline-position: under; }